* {
  color: black;
}

aside.main-sidebar.elevation-4 {
  font-family: "Playfair Display", serif;
}

a.brand-link {
  background: rgb(115, 187, 119);
  font-size: 2.3rem;
  text-align: center;
}

span.brand-text.font-weight-light {
  padding: 5rem 0 0 0;
}

a.d-block {
  font-size: 1.3rem;
  color: black;
}

.user-panel.mt-3.mb-3.d-flex {
  padding: 1.9rem 0;
}

.content-wrapper {
  height: 100%;
  background-color: rgb(240, 252, 237);
}

button.btn.btn-outline-secondary {
  background: rgb(10, 180, 81);
  border: none;
  color: black;
}

button.btn.btn-outline-secondary:hover {
  font-size: 20px;
}

a.btn.m-3 {
  background: rgb(10, 180, 81);
}

nav.main-header.navbar.navbar-expand {
  background: rgb(115, 187, 119);
}

footer.main-footer.text-center {
  background: rgb(115, 187, 119);
}

.info-box {
  /* padding: 3rem; */
  border-radius: .25rem;
  background: rgb(39, 182, 111);
  margin-bottom: 1rem;
  min-height: 80px;
  position: relative;
  width: 100%;
  padding: 1rem 0;
  font-family: "Playfair Display", serif;
}

span.info-box-text.text-center.mb-3 {
  font-size: 90%;
  color: whitesmoke;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: green;
  border-color: green;
}

a {
  color: green;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: green;

}

footer.main-footer.text-center {
  color: black;
  font-size: 1.2rem;
}